@use "../../../abstracts/variables" as *;

.button {
     padding: 0.75rem 3.5rem;

     border: 1px solid #4f005f;
     border-radius: 30px;

     background-color: #4f005f;
     color: $text-color;
     font: inherit;
     font-size: 1.15rem;
     cursor: pointer;

     &:hover,
     &:active {
          border-color: $bg-primary-violet-hover;
          background-color: $bg-primary-violet-hover;
     }

     &:disabled {
          border-color: $border-light;
          background-color: $border-light;
          color: #666;
          cursor: not-allowed;
     }
}
